<h1 class="text-center">Nuevos lanzamientos</h1>
<hr>
<div *ngIf="albums.length !== 0" class="">
  <ul class="list-unstyled">
    <div class="row justify-content-center">
      <li *ngFor="let album of albums">
        <div class="col s12	m6	l2	xl2 ">
          <div class="card my-2" style="width: 11rem;">
            <img class="card-img-top" src={{album.images[0].url}} alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title">{{album.name}}</h6>
              <ul class="list-unstyled">
                <li *ngFor="let ar of album.artists">
                  <a href="/artista/{{ar.id}}" class="badge badge-dark">{{ar.name}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </div>
  </ul>
</div>

