<nav class="navbar  navbar-expand-lg navbar-light bg-dark py-4">
  <a class="navbar-brand text-white" href="#">
    <img src="assets/imgs/logo.png" height="40px" alt="">
  </a>

  <div class="collapse navbar-collapse row mx-4" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="#">Lanzamientos <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
