<div *ngIf="artista !== undefined" class="container pt-2">
  <div class="mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-4 " style="max-width: 10rem;">
        <img [src]="artista.images[0].url" class="card-img rounded-circle shadow p-1 mb-1 bg-dark" alt="...">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{artista.name}}</h5>
          <a href="{{artista.external_urls.spotify}}" target="_blank" class="card-text">Ir a la pagina del artista</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="albums !== undefined" class="row">
    <div class="container col-12 mx-5">
      <table class="table table-dark">
        <thead>
        <tr>
          <th scope="col">Foto</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cancion</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let a of albums.items">
          <th scope="row"><img [src]="a.images[2].url" alt=""></th>
          <td>{{a.name}}</td>
          <td>{{a.song}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
